body {
    margin: 0;
    position: relative;
}

.flex-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 7px solid black;
    width: calc(100% - 60px);
    height: calc(100vh - 60px);
    padding: 40px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-gap: 20px;
}

.flex-container > div {
    position: relative;
    border: 6px solid black;
    height: 100px;
    font-size: 15px;
    box-sizing: border-box;
    padding: 10px;
    text-align: left;
}
